name: flutter_star_printer
description: Flutter plugin for using Star Micromics printers. Contains multiple functions to help format the receipt.
version: 1.0.1
homepage: https://github.com/lil-re/flutter_star_printer

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.12.0"

dependencies:
  collection: ^1.15.0
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  # This section identifies this Flutter project as a plugin project.
  # The androidPackage and pluginClass identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: re.lil.flutter_star_printer
        pluginClass: FlutterStarPrntPlugin
      ios:
        pluginClass: FlutterStarPrntPlugin

